replicaCount: 1

image:
  repository: devops-challenge
  tag: "latest"
  pullPolicy: Never

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    memory: "128Mi"
  limits:
    memory: "256Mi"

securityContext:
  runAsNonRoot: true
  runAsUser: 1000
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false

tmpVolume:
  enabled: true
